/*	
	Project Name: Maribaya Suit and Tie
	Version: 1.0
	URL: http://galihpratama.net

	Author: Galih Pratama
	URL: http://galihpratama.net
	
*/ 

@import url(http://fonts.googleapis.com/css?family=Dosis);

*{
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	-ms-border-radius: 0!important;
	-o-border-radius: 0!important;
	border-radius: 0!important;
	outline: 0;
}
.btn:active,.btn:focus,a:active,a:focus{outline: 0}
.no-border-right{border-right: 0!important}
.no-border-left{border-left: 0!important}
.no-padding{padding: 0!important}
.hero-spacer {margin-top: 50px}
.hero-feature{margin-bottom: 30px}
select{border:1px solid #ddd;padding:3px}

.main-container{
	padding-top: 20px;
}

.slider{
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}
ul.bxslider {
	list-style: none;
}
.bx-wrapper .bx-viewport {
	top: 0;
	left: 0;
}
.bx-wrapper img {
	width: 100%;
}
.bx-viewport {
	max-height: 500px!important;
}
.input-search{
	position: relative;
	z-index: 1;
}
.btn-group-cart,.btn-group-cart .btn{
	width: 100%;
}
.btn-group-cart .btn{
	text-align: center;
}
.btn-group-cart .dropdown-menu{
	z-index: 1001;
	left: inherit;
	right: 0;
}
.btn-group-cart .icon-cart{
	margin-right: 5px;
}
ul.cart-content{
	min-width: 250px;
}
ul.cart-content b{
	font-weight: normal;
	display: block;
	
	/*font-size: 16px;*/
	color: #eb6864;
}
.link-p{
	display: block;
	min-height: 250px;
	height: auto;
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.first-p{
	min-height: 169px;
}
.def-img{
	position: inherit!important;
	width: auto!important;
	height: inherit!important;
	max-width: inherit!important;
	max-height: inherit!important;
	left: inherit!important;
	top: inherit!important;
}

.prod-caption h3{
	font-size: 20px;
	height: 60px;
	overflow: hidden;
	font-family: 'Dosis', serif;
}
span.title{
	display: block;
	font-size: 20px;
	border-bottom: 3px solid #eee;
	padding-bottom: 8px;
	margin-bottom: 20px;
	font-family: 'Dosis', serif;
	font-size: 22px;
}
footer{
	color: #eee;
	background: #313131;
}
footer h4{
	border-bottom: 1px solid #5d5d5d;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}
footer .column ul{
	font-size: 13px;
	list-style: none;
	padding: 0;
	line-height: 22px;
}
footer .column ul a{
	color: #a09f9f;
}
footer .copyright{
	padding: 10px;
	color: #ccc;
}

.thumbnail:hover{
	box-shadow: 0 0 10px 1px #f1f1f1;
}
.catalogue-pagination{
	margin: 0;
	margin-bottom: 40px;
	
}
.catalogue-pagination li.disabled:hover a{
	cursor: default;
}
.catalogue-pagination li a{
	-ms-transition: all 100ms ease-in-out 0s ;
	-moz-transition: all 100ms ease-in-out 0s ;
	-webkit-transition: all 100ms ease-in-out 0s ;
	-o-transition: all 100ms ease-in-out 0s ;
	transition: all 100ms ease-in-out 0s ;
	padding: 3px 12px;
}
.back-top{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30px;
	background: #555;
	color: #fff;
	height: 23px;
}
.back-top:hover, .back-top:focus, .back-top:active{
	color: #fff;
}
.back-top:hover{
	-ms-transition: all 100ms ease-in-out 0s ;
	-moz-transition: all 100ms ease-in-out 0s ;
	-webkit-transition: all 100ms ease-in-out 0s ;
	-o-transition: all 100ms ease-in-out 0s ;
	transition: all 100ms ease-in-out 0s ;
	background: #333;
}
.tbl-cart .td-qty{
	white-space: normal !important;
	width: 130px;
}
.btns-cart .btn{
	margin-right: 3px;
}
.input-qty-detail .bootstrap-touchspin{
	float: left;
	margin-right: 5px;
	width: 130px;
}

.mtb {
	margin-bottom: 80px;
}

.mb {
	margin-bottom: 60px;
}

.mt {
	margin-top: 60px;
}

.hline {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.hline-w {
	border-bottom: 1px solid #777;
	margin-bottom: 20px;
}


/* Footer */
#footerwrap {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #181A1D;
}

#footerwrap p, #footerwrap ul, #footerwrap a, #footerwrap h4 {
	color: white;
}

#footerwrap ul {
	list-style-type: square;
	padding-left: 20px;
}

 #footerwrap h4 {
 	text-transform: uppercase;
 }

#footerwrap i:hover, #footerwrap a:hover {
	color: #ddd
}

/* Footer */
#footerbottom {
	padding-top: 10px;
	padding-bottom: 5px;
	background: #000;
}

#footerbottom {
	color:white;
}

/* Mega Menu */

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
    display:none;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
    display:none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #eb6864;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

/* Slider Wrap */

#top-slider {
	margin-top: -20px;
}

#top-slider .carousel-caption p {
	color: #fff;
	font-size: 20px;
	text-shadow: 2px 2px #111;
}

#top-slider .carousel-caption h1{
	text-shadow: 2px 2px #111;
}

@media screen and (max-width: 768px) {
	#top-slider .carousel-caption {
	 top: 0%;
	}

	#top-slider .carousel-caption p {
		font-size: 15px;
		bottom: 20%;
	}

	#top-slider .carousel-caption h1{
		text-shadow: 2px 2px #111;
		font-size: 20px;
	}

}

/* Products */

    .sp-wrap {
        max-width: 280px !important;
    }




/* Blog Page */
.popular-posts { 
	margin: 0px;
	padding-left: 0px;
	}
	
.popular-posts li {
	list-style: none; 
	margin-bottom: 20px; 
	min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {
	text-decoration: none;
	}
	
.popular-posts li img {
	float: left; 
	margin-right: 20px;
	}
	
.popular-posts li em {
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	color: #b3b3b3
	}

.popular-posts p {
	line-height: normal;
	margin-bottom: auto;
}	

.share i {
	padding-right: 15px;
	font-size: 18px;
}


header {
background: #092f1b; /* Old browsers */
background: -moz-linear-gradient(top,  #092f1b 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#092f1b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #092f1b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #092f1b 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #092f1b 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #092f1b 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092f1b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}


.carts {
	padding-top:20px;
}

/*	
	Project Name: Maribaya Suit and Tie
	Version: 1.0
	URL: http://galihpratama.net

	Author: Galih Pratama
	URL: http://galihpratama.net
	
*/ 

/* Timeline Snippet */

.message-item {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}

.navbar {
background: #1b1c1d; /* Old browsers */
background: -moz-linear-gradient(top,  #1b1c1d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b1c1d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1b1c1d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1b1c1d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1b1c1d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1b1c1d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1c1d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

body {
	background-color: #010C00;
}

/* Subheader */
#blue {
	background: #001900;
	margin-top: -20px;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

#blue h3 {
	color: white;
	margin-left: 15px;
}
